@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

.p-orderlist-controls {
  display: none !important;
}

.p-orderlist {
  height: 100%;
  max-height: 100vh;
}

.p-orderlist-list {
  height: 100%;
  max-height: inherit;
  overflow-y: auto;
}

.error {
  color: red;
}

.p-card-body {
  padding-top: 0 !important;
}