<div class="form-container">
  <p-tabView
    [style]="{ 'margin-top': '20px' }"
    [(activeIndex)]="activeTabIndex"
  >

    <!-- Income -->
    <p-tabPanel tabindex="0" header="TULOT">
      <app-entry-form
          #incomeForm
          [type]="BillType.INCOME"
          [user]="user"
          [records]="incomes"
          (removeEntryEmitter)="removeEntry($event)"
          (entriesUpdated)="updateEntries($event, BillType.INCOME)">
      </app-entry-form>
    </p-tabPanel>

    <!-- Expense -->
    <p-tabPanel tabindex="1" header="MENOT">
      <app-entry-form
          #expenseForm
          [type]="BillType.EXPENSE"
          [user]="user"
          [records]="expenses"
          (entriesUpdated)="updateEntries($event, BillType.EXPENSE)">
      </app-entry-form>
    </p-tabPanel>

    <!-- Categories -->
    <p-tabPanel tabindex="2" header="KATEGORIAT">
      <app-categories
          #categoryForm
          [categories]="categories"
          (saveCategories)="saveCategories($event)"
          (updateCategories)="updateCategories($event)">
      </app-categories>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-dollar"></i>
      </ng-template>
      <app-budget></app-budget>
    </p-tabPanel>
  </p-tabView>
</div>