<main style="display: flex; justify-content: center">
  <p-card [style.margin-top]="'3vh'">
    <h2>{{ billId ? 'Muokkaa tapahtumaa' : 'Lisää tapahtuma' }}</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="billForm">
      <p-select-button
        [options]="transactionTypeOptions"
        formControlName="transactionType"
        optionLabel="label"
        optionValue="value">
      </p-select-button>

      <br/>
      <br/>
      <label for="date">Päivämäärä</label>
      <br/>
      <p-date-picker
        appendTo="body"
        size="small"
        id="date"
        dateFormat="dd.mm.yy"
        [defaultDate]="today"
        formControlName="date"
        [showIcon]="true"/>

      <div style="margin-top: 30px">
        <p-floatlabel>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-euro"/>
            <input
              class="customStyle"
              formControlName="amount"
              id="amount"
              pInputText
              required
              type="number"/>
          </p-iconfield>
          <label for="amount">Määrä</label>
        </p-floatlabel>
      </div>

      <div *ngIf="isControlInvalid('amount')" class="alert alert-danger">
        <small *ngIf="billForm.get('amount')?.hasError('required')" class="error">Pakollinen</small>
        <small *ngIf="billForm.get('amount')?.hasError('min')" class="error">Määrä ei voi olla alle 0</small>
      </div>

      <div style="margin-top: 30px">
        <p-floatlabel>
          <p-iconfield>
            <p-inputicon styleClass="pi pi-info-circle"/>
            <input class="customStyle" formControlName="description" id="description" name="description" pInputText required>
          </p-iconfield>
          <label for="description">Kuvaus</label>
        </p-floatlabel>
      </div>

      <div *ngIf="isControlInvalid('description')" class="alert alert-danger">
        <small *ngIf="billForm.get('description')?.hasError('required')" class="error">Pakollinen</small>
        <small *ngIf="billForm.get('description')?.hasError('invalidDescription')" class="error">Vähintään 3 merkkiä pitkä</small>
      </div>

      <div style="margin-top: 30px">
        <p-select
          [options]="categories"
          [style]="{ width: '200px' }"
          formControlName="category"
          placeholder="Kategoria"
          optionLabel="description"
          optionValue="index">
        </p-select>
      </div>

      <div *ngIf="isControlInvalid('category')" class="alert alert-danger">
        <small *ngIf="billForm.get('category')?.hasError('required')" class="error">Pakollinen</small>
        <small *ngIf="billForm.get('category')?.hasError('invalidCategory')" class="error">Jotain meni pieleen</small>
      </div>

      <br>
      <br>
      <div style="display: flex; align-items: center; gap: 4px;">
        <p-checkbox formControlName="recurring" [binary]="true" id="Recurring" inputId="Recurring" />
        <label for="Recurring" class="ml-2">Toistuva</label>
      </div>

      <br>
      <br>
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <p-button
          size="small"
          [disabled]="!billForm.valid"
          styleClass="p-button-primary"
          pTooltip="Täytä kaikki tiedot ennen tallentamista"
          type="submit">
          Tallenna
        </p-button>

        <p-button
          size="small"
          *ngIf="billId"
          styleClass="p-button-danger"
          (onClick)="deleteBill()">
          Poista
        </p-button>

        <p-button
          size="small"
          styleClass="p-button-secondary"
          (onClick)="cancel()">
          Peruuta
        </p-button>
      </div>
    </form>
  </p-card>
</main>
