<form [formGroup]="entryForm" (ngSubmit)="save()" style="max-width: 500px">
  <p-table [value]="entryControls.controls" class="compact-table">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50px;">Kuvaus</th>
        <th style="width: 30px;">Määrä</th>
        <th style="max-width: 10px; text-align: center"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-i="rowIndex">
      <tr [formGroup]="entryControls.at(i)">
        <td>
          <input
            pInputText
            type="text"
            placeholder="Kuvaus"
            formControlName="description"
            class="compact-input"/>
        </td>
        <td>
          <p-inputNumber
            placeholder="Määrä"
            formControlName="amount"
            class="compact-input2"
            [mode]="'decimal'"
            [minFractionDigits]="2"
            [maxFractionDigits]="2"
            [useGrouping]="true"
            [locale]="'fi-FI'">
          </p-inputNumber>
        </td>
        <td style="width: 10px; text-align: center;">
          <p-button
            [style]=""
            type="button"
            icon="pi pi-pen-to-square"
            text="true"
            severity="contrast"
            (click)="edit(i)">
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</form>

